* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/*//////////Navbar\\\\\\\\\\*/
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    justify-content: space-around;
    height: 50px;
    z-index: 1;

}

.logo img {
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin-right: 60px;
}

.nav-link {
    list-style: none;
    display: flex;

}

.nav-link li {
    margin-left: 25px;
    font-weight: bold;
}

.nav-link a {
    text-decoration: none;
    color: cadetblue
}

.nav-link a:hover {
    color: rgb(71, 34, 127);
}

.burger {
    color: #000;
    font-size: 25px;
    display: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        margin-right: 20px;
        background-color: white;
        width: 100px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        gap: 20px;
    }

    .nav-link.active {
        display: flex;

    }
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.contact-box {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left {
    flex: 1;
    min-width: 300px;
}

.left iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: 0;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 10px;
    min-width: 300px;
    background-color: #f0f0f0;
}

.right h2 {
    text-align: center;
    color: #897e94;
    margin-bottom: 20px;
}

.right input,
.right textarea {
    padding: 12px 15px;
    border: 0;
    border-radius: 9px;
    resize: none;
    font-size: 16px;
}

.right .bTn-3 {
    padding: 12px 20px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: #e5deeb;
    border: 0;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
    margin : 0 auto;
    transition: 0.3s;

}

.right .bTn-3:hover {
    background-color: #897e94;
    color: aqua;
}

@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
    }

    .left,
    .right {
        min-width: 100%;
    }

    .right input,
    .right textarea,
    .right .bTn-3 {
        width: 200px;
        margin: 0 auto;
    }

    .contact-box {
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;

    }
}


/*//////Footer*/

.footer {
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo1 img {
    margin: 10px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #897e94;
    transition: 0.3s ease;
}

.footer-links a:hover,
.footer-icons a:hover {
    color: black;
}

.footer-icons a {
    font-size: 18px;
    margin: 0px 10px;
    color: #897e94;
}

.footer-copy {
    margin: 10px;
    font-weight: bold;
    color: #897e94;
}