* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/*//////////Navbar\\\\\\\\\\*/
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    justify-content: space-around;
    position: fixed;
    height: 50px;
    z-index: 1;

}

.logo img {
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin-right: 60px;
}

.nav-link {
    list-style: none;
    display: flex;

}

.nav-link li {
    margin-left: 25px;
    font-weight: bold;
}

.nav-link a {
    text-decoration: none;
    color: cadetblue
}

.nav-link a:hover {
    color: rgb(71, 34, 127);
}

.burger {
    color: #000;
    font-size: 25px;
    display: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        margin-right: 20px;
        background-color: white;
        width: 100px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        gap: 20px;
    }

    .nav-link.active {
        display: flex;

    }
}


/*///////////////////HERO SECTION\\\\\\\\\\\\\\\\\\\\*/
.hero-section {
    background-image: url('img/Backgraound1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}

.hero-1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;

}

.hero-1 h1 {
    margin-bottom: 20px;
    color: #897e94;

}

span {
    color: green;
}

.hero-1 p {
    font-family: initial;
    font-size: 25px;
}

.hero-1 a {
    margin-top: 20px;
    width: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: chocolate;
    color: wheat;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}

.hero-1 a:hover,
.card-container a:hover {
    background-color: #897e94;
}



@media (max-width: 850px) {
    .hero-section {
        background-size: cover;
        flex-direction: column;
        text-align: center;

    }

    .hero-1 a {
        display: block;
        margin:10px auto;
        padding: 10px 10px;
        width: 90px;
        background-color: rgb(206, 211, 211);
        color: white;
    }
}


/*///////////////////MENU SECTION \\\\\\\\\\\\\\\\\\\\*/


.card-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;

}

.card-container h2 {
    text-align: center;
    font-size: 35px;
    font-family: initial;
    margin-top: 50px;
    color: #897e94;

}

.card img {
    width: 100%;
    height: auto;
}

.card {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    margin: 40px 20px;
    transition: ease 0.3s;
}

.title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0px 2px 4px rgb(9, 4, 4, 0.9);
}

.card-content {
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.card-content h3 {
    margin: 10px;
    color: green;
}

.card-content p {
    font-family: initial;
}


.card-container a {
    margin: 10px auto;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: chocolate;
    color: wheat;
    text-align: center;
}

/*/////Gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.gallery h2 {
    margin-top: 20px;
    padding: 40px;
    font-size: 35px;
    font-family: initial;
    color: #897e94;


}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.gallery-img img {
    width: 300px;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(66, 49, 101, 0.906);
}

.gallery-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 128, 0, 0.4);

}

@media (max-width:768px) {
    .gallery-img {
        grid-template-columns: repeat(2, 1fr);

    }

    .gallery-img img {
        width: 240px;
    }

}

@media (max-width:480px) {
    .gallery-img img {
        width: 150px;
    }
}


/*//////Footer*/

.footer {
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo1 img {
    margin: 10px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #897e94;
    transition: 0.3s ease;
}

.footer-links a:hover,
.footer-icons a:hover {
    color: black;
}

.footer-icons a {
    font-size: 18px;
    margin: 0px 10px;
    color: #897e94;
}

.footer-copy {
    margin: 10px;
    font-weight: bold;
    color: #897e94;
}